@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Прибираю точки в списках */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.current {
  color: var(--accent-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway";
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo__blue {
  color: var(--accent-color);
}

.logo__black {
  color: var(--title-text-color);
}

.logo__white {
  color: var(--primary-white-color);
}

.button {
  border-radius: 4px;
  width: 217px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

/* Навигація */
.header__navigation {
  display: flex;
  align-items: baseline;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
.navigation__list .item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}

.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    align-items: center;
  }
  .header__contacts .item:not(:last-child) {
    margin-right: 30px;
  }
}
.header__contacts .contacts__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contacts__link {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    flex-wrap: nowrap;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__mail {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link-header:focus .contacts__mail, .contact-link-header:hover .contacts__mail {
  fill: currentColor;
}

.contacts__telephone {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link-header:focus .contacts__telephone, .contact-link-header:hover .contacts__telephone {
  fill: currentColor;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mobile-menu > .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  margin: 0 auto;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-open {
  margin-left: auto;
  margin-right: 15px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  background-color: transparent;
}
.mobile-close-button:hover, .mobile-close-button:focus {
  fill: var(--accent-color);
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.mobile-navigation__list {
  margin-left: 40px;
  margin-top: 48px;
}
.mobile-navigation__list .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-contacts__phone {
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-contacts__mail {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.mobile-soc-list {
  display: flex;
  gap: 5px;
}
@media screen and (min-width: 480px) {
  .mobile-soc-list {
    gap: 10px;
  }
}

.mobile-soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-soc-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-soc-link {
    font-size: 18px;
  }
}

.mobile-menu-bot {
  margin-left: 40px;
}

.section__hero {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: var(--gradient), url(../images/hero-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__hero {
    background-image: var(--gradient), url(../images/hero-mobile-x2.jpg);
  }
}
@media screen and (min-width: 480px) {
  .section__hero {
    width: 480px;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    width: 768px;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    background-color: #2f303a;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: var(--gradient), url(../images/hero-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: var(--gradient), url(../images/hero-tablet-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section__hero {
    width: 1600px;
    height: auto;
    max-width: 100%;
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/hero-bckgrd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: var(--gradient), url(../images/hero-desktop-x2.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero__button {
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.benefits__section {
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list .benefits__list {
    display: flex;
    gap: 30px;
  }
}

.benefits__item {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__title {
  font-size: 14px;
  color: var(--title-text-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about__container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about__container {
    display: block;
  }
}

.picture__list {
  display: flex;
}
.picture__list-item:not(:last-child) {
  margin-right: 30px;
}

.about__title {
  margin-bottom: 50px;
}

.picture__list-overlay {
  position: relative;
}

.picture__list-label {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.picture__list-text {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team__section {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__section-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__section-title {
    margin-bottom: 50px;
  }
}

.members__item {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .members__item {
    width: 354px;
    margin-bottom: 0;
  }
}

.members_img {
  display: inline;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__members-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team__members-list .members__item:not(:last-child) {
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__members-list .members__item:last-child {
    padding-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.member__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.members__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__soclist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soclist__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soclist__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.soclist__link:hover, .soclist__link:focus {
  background-color: var(--accent-color);
}

.social__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.soclist__link:hover .social__logo, .soclist__link:focus .social__logo {
  fill: var(--primary-white-color);
}

/* Постійні клієнти */
.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 150px) / 6);
  }
}

.cards__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.cards__link:hover {
  border: 1px solid var(--accent-color);
}

.cards__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.cards__link:hover .cards__icon, .cards__link:focus .cards__icon {
  fill: var(--accent-color);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons .product__filter-item:not(:last-child) {
  margin-right: 8px;
}

.product__filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.product__filter-button:hover, .product__filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list .product__list-item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.product__list-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.product__list-link:hover, .product__list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.product__list-image {
  position: relative;
  overflow: hidden;
}

.product__list-overlay {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--primary-animation);
}
.product__list-overlay:hover {
  opacity: 1;
}
.product__list-image:hover .product__list-overlay {
  transform: translateY(0);
}

.product__list-text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.product__info {
  padding: 20px 24px 20px;
}

.product__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer__wraper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .container__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    display: flex;
    align-items: baseline;
  }
}

.footer__info {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .information__logo {
    margin-right: 0;
  }
}

.adress {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .adress {
    margin-top: 20px;
  }
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* Адреса */
.adress__map {
  color: var(--primary-white-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-item {
  color: rgba(255, 255, 250, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.contact-item:hover, .contact-item:focus {
  color: var(--accent-color);
}

.footer-soc-container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-container {
    margin-right: 93px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.footer-soclist {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer-soclist {
    display: flex;
    justify-content: start;
    gap: 10px;
  }
}

.soclist__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer__soclist-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.footer__soclist-link:hover, .footer__soclist-link:focus {
  background-color: var(--accent-color);
}

.social__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.soclist__link:hover .social__logo, .soclist__link:focus .social__logo {
  fill: var(--primary-white-color);
}

.footer__social-item {
  fill: var(--primary-white-color);
}

.subscribe__container {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe__container {
    margin-top: 0;
  }
}

.footer__subscribe-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 15px;
  }
}

.subscribe__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.subscribe__button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 0;
  }
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  padding: 93px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0;
  }
}

.modal {
  background-color: var(--primary-white-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  right: 23px;
  top: 101px;
  width: 30px;
  height: 30px;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
@media screen and (min-width: 480px) {
  .modal__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .modal__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__field-input {
  display: block;
  margin-bottom: 4px;
}

.modal__field-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
}

.input__form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  padding-left: 40px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.input__form:focus {
  border-color: var(--accent-color);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.input__form:focus + .input__icon {
  fill: var(--accent-color);
}

.text-area-field {
  margin-bottom: 20px;
}

.comments__text {
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.comments__text:focus {
  border-color: var(--accent-color);
}
.comments__text::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comments__text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.modal__button:hover, .modal__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  display: inline-flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.checkbox__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.checkbox__input-chek:checked + .checkbox__text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}
.checkbox__input-chek:focus + .checkbox__text span {
  border-color: var(--accent-color);
}

.modal__button-field {
  text-align: center;
}/*# sourceMappingURL=main.css.map */