.logo {
    
    font-family: "Raleway";
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .logo__blue {
    color: var(--accent-color);
  }
  .logo__black {
    color: var(--title-text-color);
  }
  .logo__white {
    color: var(--primary-white-color);
  }