
.section__hero {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 480px) {
  width: 480px;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  
  @media screen and (min-width: 768px) {
    width: 768px;
  height: auto;
  margin: 0 auto;;
  max-width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-tablet-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

    
  }
   @media screen and (min-width: 1200px) {
    width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bckgrd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

    
  }
  
  
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px){
      font-size: 44px;
      max-width: 696px;


  }
  
}

.hero__button {
  width: 200px;
  @media screen and (min-width: 1200px){
      width: 216px;
      


  }
}
 
