.team__section {
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  .team__section-title {
    margin-bottom: 50px;
  }
  .team__members-list {
    display: flex;
    .members__item:not(:last-child) {
      margin-right: 30px;
      padding-bottom: 30px;
      background-color: #ffffff;
    
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    .members__item:last-child {
      padding-bottom: 30px;
      background-color: #ffffff;
    
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
   
  
  .member__name {
    margin-top: 30px;
    margin-bottom: 10px;
    
  
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .members__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  
  
  .team__soclist {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .soclist__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .soclist__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation);
    &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  }
  
  .social__logo {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation);
    .soclist__link:hover &,
  .soclist__link:focus & {
    fill: var(--primary-white-color);
  }
  
  }
  
  

  